<footer class="page-footer ">
    <div class="container fixed-bottom">
      <div class="row">
        <div class="col l3 s6">
          <h6 class="white-text">FAQ</h6>
          <ul>
              <li>Método de pago</li>
              <li>Atención a cliente</li>
              <li>Disponibilidad</li>
              <li>Envíos</li>
              <li >Cotizar</li>
          </ul>
        </div>
        <div class="col l3 s6">
            <h6 class="white-text">Catálogo</h6>
            <ul>
                <li>Libros didácticos</li>
                <li>Juegos didácticos</li>
                <li>Libros de ejercicios</li>
                <li>Figuras para maquetas</li>
                <li>Accesorios escolares</li>
                <li>Libros de literatura</li>
                <li>Artículos de temporada</li>
            </ul>
          </div>
          <div class="col l3 s6">
            <h6 class="white-text">Contacto</h6>
            <ul>
                <li >Mexicali, Baja California</li>
                <ul>
                    <li>Tomás Millán Cervantes</li>
                    <li>686XXXXXXX</li>
                </ul>
                <li>Tijuana, Baja California</li>
                <ul>
                    <li>Raúl</li>
                    <li>664XXXXXXX</li>  
                </ul>
                              
            </ul>
          </div>
        <div class="col l3 s6">
          <h6 class="white-text">Siguenos en nuestras redes</h6>
          <ul>
            <li><a href="#!"><img src="../../../assets/Images/fb.png" class= "icons"></a></li>
            <li><a href="#!"><img src="../../../assets/Images/insta.png" class= "icons"></a></li>
            <li><a href="#!"><img src="../../../assets/Images/wp.png" class= "icons"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center-align">
        Distribuidora DIFER ©2021 | Productos diferentes
        Todos los derechos reservados
      </div>
    </div>
  </footer>