<div class="row black valign-wrapper top-bar">
    <a class="col s6 m6 l10 push-l1 push-s1 push-m1 white-text">Conocenos</a>
    <div class="col s6 m6 l2 pull-l1 push-s1 push-m1 white-text">
      <img src="../../../assets/Icons/fb.png" class= "icons">
      <img src="../../../assets/Icons/insta.png" class= "icons">
      <img src="../../../assets/Icons/wp.png"  class= "icons">
    </div>
</div>
<div class="navbar-fixed">
  <nav >
    <div [ngClass]="{'navbar-inverse': isScrolled}" class="nav-wrapper row">
      <a href="#" class="brand-logo col s3 m2 l2 push-l1 push-s2 push-m2 valign-wrapper">
        <img src="../../../assets/Images/logo.png"  id= "logo">
      </a>
      <form class="col s7 m5 l3">
          <div class=" row input-field">
             <div class= "right col s3">
              <button type="submit" class= "btn-flat right"><i class="material-icons white-text">search</i></button>
             </div>
            
            <div class= "input-field col s9" appearance="outline">
              <input id="search" type="search">
            </div>
            
          </div>
      </form>
      <ul id="nav-mobile" class="right hide-on-med-and-down col s2 m5 l5">
        <li routerLinkActive="active"><a routerLink="/productos" class="valign-wrapper"><img class="left icons" src="../../../assets/Icons/products.png">Productos</a></li>
        <li routerLinkActive="active"><a routerLink="/landing" class="valign-wrapper"><img class="left icons" src="../../../assets/Icons/top.png">Populares</a></li>
        <li routerLinkActive="active"><a routerLink="/cotizacion" class="valign-wrapper"><img class="left icons" src="../../../assets/Icons/cotizar.png">Cotización</a></li>
      </ul>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    <ul class="sidenav" id="mobile-demo">
      <li ><a href="/productos">Productos</a></li>
      <li><a href="/populares">Populares</a></li>
      <li><a href="/cotizacion">Cotización</a></li>
    </ul>
  </nav>
</div>
  
  