<div class="carousel carousel-slider">
  <a class="carousel-item" href="#one!"><img src="assets/Images/Banner1.png"></a>
  <a class="carousel-item" href="#two!"><img src="assets/Images/Banner2.png"></a>
  <a class="carousel-item" href="#three!"><img src="assets/Images/Banner3.png"></a>
</div>

<div class="row">
  <div class="center-align texto col l8 s10 push-s1 push-l2"> 
    <h5>Si tienes un negocio de papelería y quieres encontrar material didáctico y miscelánea a excelentes precios, haz llegado al lugar indicado</h5>
    <h5>¡Pregunta por nuestras promociones!</h5>
    <a class="btn-large">Productos en promoción</a>
  </div>
  <div class="odd col l12 s12">
    <img class= "col l4 push-l2 s12 promoimg" src="assets/Images/1.png">
    <div class= "col l4 right pull-l2 s12 promotext center-align">
      <h5><strong>¿Buscas libros de literatura?</strong></h5>
      <h6>Tenemos variedad de títulos</h6>
      <br>
      <h5><strong>¡Elige de nuestra variedad!</strong></h5>
      <a class="btn-large">¡Cotiza ya!</a>
    </div>
  </div>
  <div class="even col l12">
    <img class= "col l4 right pull-l2 s12 promoimg" src="assets/Images/3.png">
    <div class= "col l4 push-l2 s12 promotext center-align">
      <h5>La construcción de maquetas promueve la creatividad de construir espacios imaginativos o reales</h5>
      <br>
      <h5><strong>¿Buscas alguna figura en particular?</strong></h5>
      <a class="btn-large">Ver lista de figuras</a>
    </div>
  </div>
  <div class="odd col l12">
    <img class= "col l4 push-l2 s12 promoimg" src="assets/Images/2.png">
    <div class= "col l4 right pull-l2 s12 promotext center-align">
      <h5><strong>Recuerda siempre ejercitar la mente.</strong></h5>
      <h6>Tenemos variedad de títulos</h6>
      <br>
      <h5><strong>¡Elige los tuyos!</strong></h5>
      <a class="btn-large">Ver lista de libros</a>
    </div>
  </div>
  <div class="even col l12">
    <img class= "col l4 right pull-l2 s12 promoimg" src="assets/Images/4.png">
    <div class= "col l4 push-l2 s12 promotext center-align">
      <h5>Aprender jugando es la mejor manera de aprender.</h5>
      <br>
      <h5><strong>Elige de nuestra lista</strong></h5>
      <a class="btn-large">Ver lista de juegos</a>
    </div>
  </div>
  <div class="odd col l12 menudeo">
    <div class= "col l6 push-l3 s10 push-s1 center-align">
      <h5>¿Buscas compras a menudeo?</h5>
      <br>
      <h5><strong>No te preocupes, te dejamos una lista de nuestros clientes</strong></h5>
      <a class="btn-large">Ubicar papelería</a>
    </div>
  </div>

</div>

