<div class="col l3">
    <div class="card">
        <div class="card-image">
            <img src="assets/Images/Mercancia/{{product.img}}.jpg">
            
        </div>
        <div class="card-content">
            <p class="cat">{{product.category}}</p>
            <span class="card-title">{{product.title}}</span>
            <small class="qty">{{product.qty}}</small>
        </div>
        <div class="card-action center-align">
            <a class="btn" href="#">Cotizar</a>
        </div>
    </div>
</div>