<div class="row ">
    <div class="test col l8 push-l1">
        
      <app-product-card  *ngFor="let product of productService.products" [product] = "product"></app-product-card>

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
            <app-productos></app-productos>
            </div>
            <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat">Agree</a>
            </div>
        </div>
            </div>
        </div>