<div class="card horizontal valign-wrapper">
    <div class="card-image">
        <img src="assets/Images/Mercancia/{{product.img}}.jpg">
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <small class="cat">{{product.category}}</small>
            <span class="card-title">{{product.title}}</span>
            <p>{{product.qty}} {{product.qty_name}}</p>
            <p>color: verde</p>
        </div>
        <div class="card-action center-align">
            <div class="quantity row ">
                <div class= " col l7 valign-wrapper">
                    <a class=" plus-btn col l1">
                        <i class="material-icons">remove</i>
                    </a>
                    <input type="text" class="center-align col l2" value="{{product.qty_cart}}">
                    <a class=" minus-btn col l1" >
                        <i class="material-icons" (click) ="addToCart(product)">add</i>
                    </a>
                </div>
                
            </div>
        </div>
    </div>
</div>